.side-panel {
  width: 340px;
  background-color: #84A98C;
  padding: 12px;
  overflow-y: auto;
  height: 100%;
}

.client {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #52796F;
  padding: 8px;
  overflow-y: auto;
}

.client:hover {
  background-color: #354F52;
  cursor: pointer;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 10%;
  margin-right: 10px;
}

.client-name {
  font-size: 18px;
  color: #ffffff;
}

.selected {
  background-color: #354F52 !important;
  box-shadow: 0 3px 5px rgb(92, 236, 130);
}
